{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau theme{% endblock %}

{% block body%}
    <div class="container mt-4">
        <h1>Créer un nouveau theme</h1>
        {{ form_start(form) }}
        <div class="container">
                {{ form_row(form.Titles) }}
                {{ form_row(form.Descriptions) }}
                {{ form_row(form.BackImage) }}
                {{ form_row(form.CountImages) }}
                <button name="Save" class="waves-effect btn btn-primary" id="created">Enregistrer<i class="material-icons right">forward</i></button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
